<footer th:fragment="footer" class="bg-light text-center px-3 py-2 custom-navbar-bg-color d-flex flex-column flex-md-row justify-content-center align-items-center mb-0">
  <div class="d-flex my-3 my-md-0">
    <div class="logo-pic-container mx-3">
      <img th:src="@{/images/common/logo.svg}" alt="Go Sport Logo" class="logo"/>
    </div>
    <p class="pe-5 my-auto" style="font-size: 1.2rem; white-space: nowrap; font-weight: 900">
      Go Sport <br />運動揪揪
    </p>
  </div>

  <div class="d-flex flex-column flex-md-row flex-nowrap flex-md-wrap" style="font-size: 0.9rem">
    <span class="px-1">營業地址：台北市中山區南京東路三段219號4樓</span>
    <span class="px-1">聯絡時間：週一 - 週五9:00-17:00</span>
    <span class="px-1">聯絡信箱：XXXXXX@gmail.com</span>
  </div>
</footer>

