<div th:fragment="reset_password">
    <div class="modal fade" id="rest_password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span th:if="${isAuthenticated}">修改密碼</span>
                        <span th:unless="${isAuthenticated}">忘記密碼</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close" onclick="window.location.reload();"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group my-3">
                        <label for="fp-email">E-mail：</label>
                        <div class="d-flex no-wrap align-items-center">
                            <input type="email" id="fp-email" placeholder="請填寫註冊時填寫的email"
                                   class="form-control"/>
                            <button class="send-code-button btn btn-primary text-nowrap ms-3" id="fp-email-send">
                                寄送驗證碼
                            </button>
                            <div id="fp-email-validate-icon"></div>
                        </div>

                    </div>
                    <div class="form-group my-3">
                        <label for="fp-verification">驗證碼：</label>
                        <div class="d-flex no-wrap">
                            <input type="text" id="fp-verification" placeholder="" class="form-control"/>
                            <button class="send-code-button btn btn-primary mx-3 text-nowrap" id="fp-validate"
                                    style="width: 105.6px!important;">驗證
                            </button>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <label for="fp-password">設定新密碼：</label>
                        <input type="password" id="fp-password" placeholder="請輸入新的密碼"
                               title="密碼必須是6到20碼的英文字母、數字或特殊符號"
                               class="form-control"
                               required/>
                    </div>
                    <div class="form-group my-3">
                        <label for="fp-confirm-password">確認新密碼：</label>
                        <input type="password" id="fp-confirm-password" placeholder="請輸入新的密碼"
                               class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="fp-submit">修改密碼</button>
                </div>
                <div th:if="${role=='GUEST'}">
                    <div id="IsGuest"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        import {EmailComponent} from '/js/EmailComponent.js';

        document.addEventListener("DOMContentLoaded", () => {
            new EmailComponent({
                emailButtonId: "fp-email-send",
                validateButtonId: "fp-validate",
                emailInputId: "fp-email",
                authCodeInputId: "fp-verification",
                validateIconId: "fp-email-validate-icon"
            });
        });
    </script>
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            const submit = document.getElementById("fp-submit")
            submit.addEventListener("click", function (e) {
                e.preventDefault();
                //鎖死送出按鈕
                submit.disabled = true;
                const email = document.getElementById("fp-email").value;
                const password = document.getElementById("fp-password").value;
                const confirmPassword = document.getElementById("fp-confirm-password").value;

                const passwordPattern = /^[a-zA-Z0-9!@#\$%\^&\*]{6,20}$/;

                if (!passwordPattern.test(password)) {
                    alert("密碼必須是6到20碼的英文字母、數字或特殊符號");
                    submit.disabled = false;
                    return;
                }

                if (password !== confirmPassword) {
                    alert("密碼與確認密碼不一致，請重新輸入！");
                    submit.disabled = false;
                    return;
                }
                fetch('/auth/resetPassword', {
                    method: 'POST',
                    credentials: 'include',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "newPassword": password,
                        "email": email
                    })
                }).then((res) => res.text()).then(
                    (message) => {
                        submit.disabled = false;
                        const guest = document.getElementById('IsGuest');
                        if (guest) {
                            const guestMessage = "，請重新登入!";
                            alert(message + guestMessage);
                            window.location.href = '/login'
                        } else {
                            alert(message);
                            window.location.reload();
                        }
                    }
                ).catch((err) => {
                    window.alert("發生錯誤: " + err);
                    submit.disabled = false;
                });
            })
        })
    </script>
</div>