.input-group {
  align-content: end;
}

.submit {
  padding: 10px 40px;
  background-color: #ffdd55;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 2px;
}
.cancel {
  padding: 8px 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 2px;
}
.submit:hover {
  background-color: #f0c040;
}
.send-code-button {
  padding: 8px 10px;
  background-color: #7f8fff;
  white-space: nowrap;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.send-code-button:hover {
  background-color: #596bf0;
}
.cancel:hover {
  background-color: gray;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
}

.form-group input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin-left: 0;
  min-width: 200px;
}
.register-button-group {
  width: fit-content;
}
@media (max-width: 480px) {
  #verification {
    min-width: 50px !important;
    width: 150px;
  }
  .register-button-group {
    justify-content: start;
    margin-left: 0;
  }
  .submit {
    padding: 8px 10px;
  }
  .cancel {
    padding: 8px 10px;
  }
  .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .password-page-logo-pic-container {
    width: 75px;
    height: 75px;
  }
}
