<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Go Sport | 客服表單送出成功</title>

<style>
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

img.check {
	width: 6%;
	height: 6%;
	margin-top: 5%;
	margin-left: 47%;
	margin-right: 47%
}

.modal-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

h4 {
	margin-bottom: 0;
	margin-top: 2%;
}

.feedback-submitted {
	background-color: rgba(185, 242, 205, 0.204);
	width: 60%;
	height: 30%;
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: left;
	overflow-wrap: break-word;
}

.countdown {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	color: rgb(52, 52, 52);
}
</style>

<!-- favicon -->
<link rel="icon" th:href="@{/images/common/favicon.png}"
	type="image/png" />

<!-- bootstrap css -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous" />
<!-- bootstrap icons -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400..900&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/common.css}" />



</head>


<body>
	<div class="page-container">
		<!-- 頁首導航欄 -->
		<header th:replace="fragments/navbar :: navbar"></header>

		<!-- 主頁內容 -->
		<main class="container my-4 main">


			<!--     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
			<div class="modal-dialogg">
				<div class="modal-contentt">
					<div class="modal-headerr">
						<img class="check" th:src="@{/images/customer_support/check.png}"
							alt="&#9745">
						<h2 class="modal-title mb-5" id="exampleModalLabel">表單送出成功</h2>
					</div>

					<div class="modal-bodyy">
						<div class="feedback-submitted">
							<h4>
								類別：<span id="send_category"
									th:field="${customerSupportVO.category}"></span>
							</h4>
							<h4>主題：</h4>
							<span id="send_title" th:field="${customerSupportVO.title}"></span>
							<h4>內容：</h4>
							<span id="send_content"
								th:field="${customerSupportVO.issueDescription}"></span>
						</div>
					</div>

					<p class="countdown">
						此網頁將於 <span id="countdown"></span>
						秒後返回平台首頁，您也可以點擊右上角選單至有興趣的頁面&#128526;
					</p>

				</div>
			</div>
			<!--     </div> -->

			<script>
				var worker_countdown;

				window
						.addEventListener(
								"load",
								function(e) {

									// 將資料於頁面上呈現
									var preview_func = function() {
										var send_title_el = document
												.getElementById("send_title");
										var send_category_el = document
												.getElementById("send_category");
										var send_content_el = document
												.getElementById("send_content");

										var form_data = JSON
												.parse(sessionStorage
														.getItem("form_data"));
										console.log(form_data);

										send_title_el.innerHTML = form_data.title;
										send_category_el.innerHTML = form_data.category;
										send_content_el.innerHTML = form_data.content;

									};

									preview_func();

									// 啟動 worker 計時
									var worker_countdown_func = function() {
										if (window.Worker) {

											worker_countdown = new Worker(
													"js/worker_countdown.js");
											worker_countdown.postMessage(10); // 倒數幾秒
											worker_countdown
													.addEventListener(
															"message",
															function(e) {
																// e.data 可接收到回傳的資料
																console
																		.log("收到 worker 來的資料："
																				+ e.data);
																if (e.data >= 0) {
																	document
																			.getElementById("countdown").innerHTML = e.data;
																} else {
																	window.location.href = "/"
																}
															});

										} else {
											document
													.getElementById("worker_enabled").innerHTML = "不支援";
										}
									};
									worker_countdown_func();
								});
			</script>

		</main>


		<!-- 頁尾 -->
		<footer th:replace="fragments/footer :: footer"></footer>
	</div>


	<script th:src="@{/js/common.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>

</body>
</html>